
html{
    background-color: rgb(169, 170, 125);
    

}
h1 {
    text-align: center;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h6 {
    color: black;
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color: black;
    text-align: justify;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
